/* #region debug */

/* .debug header {
    height: 80px;
    background-color: black;
} */

.debug #jumbotron {
    /* background-color: lightgreen; */
    /* height: 400px; */
}

.debug #portfolio {
    background-color: lightgray;
}

.debug #about {
    height: 500px;
    background-color: lightgreen;
}

.debug #contact_me {
    height: 400px;
    background-color: lightgray;
}

.debug #up_footer {
    height: 300px;
    background-color: black;
}

.debug #bottom_footer {
    height: 100px;
    background-color: lightskyblue;
}

.debug .jumbo_debug {
    background-color: white;
    height: 300px;
    aspect-ratio: 1;

}

/* #endregion debug */

/* #region common */
#side_header {
    background-color: var(--boot-primary);
    color: var(--boot-lighter);
}

#jumbotron {
    padding: 2rem 0;
    color: var(--boot-lighter);
    text-align: center;
    background-color: var(--boot-secondary);
}

#portfolio {
    padding: 2rem 0;
    text-align: center;
}

#about {
    background-color: var(--boot-secondary);
    color: var(--boot-lighter);
    text-align: center;
    padding: 2rem 0;
}

#contact_me {
    padding: 2rem 0;
}

#top_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--boot-tertiary);
    color: var(--boot-lighter);
    text-align: center;
    padding-bottom: 2rem;
}
#bottom_footer{
    background-color: var(--boot-primary);
    color: var(--boot-lighter);
    text-align: center;
    padding: 1.5rem 0;
    font-size: 12px;
}
/* #endregion common */




/* #region utilites */

:root {
    --boot-primary: rgba(44, 62, 80, 1);
    --boot-secondary: rgba(26, 188, 156, 1);
    --boot-tertiary: rgba(58, 84, 109, 1);
    --boot-lighter: white;
}

.container-small {
    width: 60%;
    margin: auto;
}

.border-star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-white {
    width: 80px;
    height: 4px;
    background-color: var(--boot-lighter);
    border-radius: 30px;
}

.line-dark {
    width: 80px;
    height: 4px;
    background-color: black;
    border-radius: 30px;
}

.icon {
    padding: 0.5rem;
    text-align: center;
    font-size: 30px;
}
.nav_icon{
    color: lightgray;
    font-size: 18px;
    padding: 0 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
}
/* #endregion utilites */

/* #region jumbotron */
.avatar {
    width: 50%;
}

/* #endregion jumbotron */

/* #region about */
.text-about {
    text-align: left;
}

.download {
    color: var(--boot-lighter);
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid var(--boot-lighter);
    border-radius: 10px;

}

/* #endregion about */

/* #region contact me */
.send {
    text-decoration: none;
    color: var(--boot-lighter);
    background-color: var(--boot-secondary);
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
}

/* #endregion contact me */

/* #region footer */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social {
    padding: 0.8rem;
    font-size: 18px;
    border: 1px solid var(--boot-lighter);
    border-radius: 50%;
}
.facebook{
    padding: 0.5rem 0.9rem;
    font-size: 18px;
    border: 1px solid var(--boot-lighter);
    border-radius: 50%;
}

.text_mark {
    text-decoration: none;
    color: var(--boot-secondary);
}

/* #endregion footer */
@media screen and (min-width:768px) {
    .avatar{
        width: 30%;
    }
    
}
